###############################################################
# THIS FILE IS MANAGED BY ANSIBLE. ANY CHANGES WILL BE LOST
# {{ ansible_managed }}
###############################################################
[client]
host=127.0.0.1
user='{{ mysql_root_username }}'
password='{{ mysql_root_password }}'
